{
  "overrides": [
    {
      "files": ["*.html"],
      "options": {
        "tabWidth": 2
      }
    },
		{
      "files": ["*.css"],
      "options": {
        "tabWidth": 2,
				"useTabs": false
      }
    }
  ]
}
