{
	"overrides": [
		{
			"files": ["*.html"],
			"options": {
				"tabWidth": 2
			}
		},
		{
			"files": ["*.css"],
			"options": {
				"tabWidth": 2,
				"useTabs": true,
				"printWidth": 160
			}
		},
		{
			"files": ["*.json"],
			"options": {
				"tabWidth": 2,
				"useTabs": false
			}
		}
	]
}
