
/*
 * Layer visibility settings.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV] [data-key=BG] {
	z-index: 10;
}

[data-key=CV] [data-key=FG] {
	z-index: 40;
}

[data-key=CV] [data-key=TL],
[data-key=CV] [data-key=MS] {
	z-index: 50;
}

[data-key=CV] [data-key=LS],
[data-key=CV] [data-key=LG],
[data-key=CV] [data-key=CN],
[data-key=CV] [data-key=BT] {
	z-index: 70;
}

[data-key=CV] [data-key*=SQ_].SQ_layout_logo{
	z-index: 80;
}

[data-key=CV] [data-key=CL] {
	z-index: 100 !important;
}

/*
 * Global element styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV] hr {
	display: block;
	width: 100%;
	height: 0.1rem;
	margin: 0.5rem 0 0.5rem 0;
}

[data-key=CV] button {
	display: inline-block;
	padding: 0.4rem 1.2rem 0.45rem 1.2rem;
	line-height: 1 !important;
	border: none;
	min-width: 2rem;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
	text-align: center;
	overflow: hidden;
}

[data-key=CV] .BT_ARE{
	text-align: left;
}

[data-key=CV] [data-key=CN_TXT_0] {
	text-align: left;
}

[data-key=CV]:not(.CV_tens_w2) [data-key=MS_TXT_2] {
	display: none;
}
/*
 * Global logotype layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */


[data-key=CV] [data-key=LG] {
	width: 5em;
	height: 5em;
	top: 1rem;
}

[data-key=CV] [data-key=LG].anim_LG_in {
	opacity: 1;
}

[data-key=CV] [data-key=LG_ST_R],
[data-key=CV] [data-key=LG_ST_L] {
	width: 200%;
	height: 0.2em;
	top: calc(50% - 0.1em);
	display: block;
}

[data-key=CV] [data-key=LG_ST_R] {
	left: calc(100% + 1em);
}

[data-key=CV] [data-key=LG_ST_L] {
	right: calc(100% + 1em);
}

[data-key=CV] [data-key=LG] [data-key*=LG_IMG_] svg  {
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
}


/*
 * Global sponsorship logo layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV] [data-key=LS] {
	right: 2rem;
	bottom: 2rem;
	width: 5rem;
	height: 3rem;
}

/*
 * Global sequence layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV] [data-key*=SQ_] {
	overflow: hidden;
}

[data-key=CV] [data-key*=SQ_].SQ_layout_logo [data-key=LG],
[data-key=CV] [data-key*=SQ_].SQ_layout_logo [data-key=LG].LG_type_custom{
	top: 50%;
	width: calc(100% - 3rem);
	left: 50%;
	transform: translate(-50%, -50%);
	height: 8rem;
	max-height: 80%;
	max-width: 80%;
}


[data-key=CV] [data-key*=SQ_].SQ_layout_logo [data-key=LG_ST_R],
[data-key=CV] [data-key*=SQ_].SQ_layout_logo [data-key=LG_ST_L]{
	display: none;
}

[data-key=CV] [data-key*=SQ_].SQ_layout_logo .MS_ARE {
	display: none;
}

[data-key=CV] [data-key*=SQ_].SQ_layout_logo .BT_ARE {
	display: none;
}

[data-key=CV] [data-key*=SQ_] [data-key=LG].LG_type_custom [data-key=LG_IMG_0]{
	display: none;
}

[data-key=CV] [data-key*=SQ_] [data-key=LG].LG_type_default [data-key=LG_IMG_1]{
	display: none;
}


/*
 * Global message and other text layer styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

 [data-key=CV] [data-key=CN] {
	width: calc(100% - 4rem);
	height: 4rem;
	bottom: 2rem;
	left: 2rem;
}

 [data-key=CV] [data-key=MS] {
	text-align: center;
	vertical-align: middle;
	max-width: 100%;
	max-height: 100%;
}

[data-key=CV] [data-key*=MS_TXT_]:not([data-key=MS_TXT_0]) {
	margin-top: 1rem;
}

/* [data-key=CV]  [data-key=WR]:not(.LS_disabled) [data-key=CN] {
	width: calc(100% - (4rem + 5rem + 1rem));
	height: 5em;
	bottom: 2rem;
	left: 2rem;
} */


/*
 * Layer styles for very tall formats (e.g 160x600, e.t.c.).
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_t2 [data-key=LG] {
	left: calc(50% - 2.5em);
	top: 2rem;
}

[data-key=CV].CV_tens_t2 [data-key*=SQ_]:not(.SQ_layout_logo) [data-key=LG].LG_type_custom {
	width: 7rem;
	left: calc(50% - 3.5em);
}

[data-key=CV].CV_tens_t2 [data-key*=SQ_] .MS_ARE {
	left: 1.5rem;
	bottom: 6rem;
	width: calc(100% - (1.5rem * 2));
	top: calc(2rem + 5rem + 1rem);
	height: calc(100% - (2rem + 5rem + 1rem + 55%));
}

[data-key=CV].CV_tens_t2 [data-key=CN] {
	left: 1.5rem;
	bottom: 2rem;
	width: calc(100% - (1.5rem * 2));
	height: 5rem;
}

[data-key=CV].CV_tens_t2  [data-key=WR]:not(.LS_disabled) [data-key=CN] {
	width: calc(100% - (1.5rem * 2));
	height: 5em;
	bottom: 2rem;
	left: 1.5rem;
}

[data-key=CV].CV_tens_t2 [data-key*=SQ_] .BT_ARE {
	bottom: calc(2rem + 5rem + 1rem);
	left: 1.5rem;
	width: calc(100% - (1.5 * 2rem));
	height: 2.5rem;
}

[data-key=CV].CV_tens_t2 [data-key=LS] {
	bottom: calc(2rem + 5rem + 1.5rem + 2.5rem + 0.5rem);
	height: 3rem;
}



/*
 * Layer styles for tall formats (e.g 300x600, e.t.c.).
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_t1 [data-key=LG] {
	left: calc(50% - 2.5em);
	top: 2rem;
}

[data-key=CV].CV_tens_t1 [data-key*=SQ_]:not(.SQ_layout_logo) [data-key=LG].LG_type_custom {
	width: 7rem;
	left: calc(50% - 3.5em);
}

[data-key=CV].CV_tens_t1 [data-key*=SQ_] .MS_ARE {
	left: 2rem;
	bottom: 6rem;
	width: calc(100% - (2rem * 2));
	top: calc(2rem + 5rem + 1rem);
	height: calc(100% - (2rem + 5rem + 1rem + 50%));
}

[data-key=CV].CV_tens_t1  [data-key=WR]:not(.LS_disabled) [data-key=CN] {
	width: calc(100% - (3rem + 5rem + 2rem));
}

[data-key=CV].CV_tens_t1 [data-key*=SQ_] .BT_ARE {
	bottom: calc(2.5rem + 4rem);
	left: 2rem;
	width: calc(100% - (2 * 2rem));
	height: 2.5rem;
}

/*
 * Layer styles for equal formats (e.g 300x250, 468x400, e.t.c.).
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_e0 [data-key=LG] {
	right: 2rem;
	top: 2rem;
}

[data-key=CV].CV_tens_e0 [data-key*=SQ_]:not(.SQ_layout_logo) [data-key=LG].LG_type_custom {
	width: 6.5rem;
}

[data-key=CV].CV_tens_e0 [data-key=LG_ST_R],
[data-key=CV].CV_tens_e0 [data-key=LG_ST_L]{
	display: none;
}

[data-key=CV].CV_tens_e0 [data-key*=SQ_] .MS_ARE {
	left: 2rem;
	bottom: 6rem;
	width: calc(100% - (5rem + 2rem + 2rem + 2rem));
	top: 2rem;
	height: calc(100% - (2rem + 55%));
}

[data-key=CV].CV_tens_e0 [data-key*=SQ_] .BT_ARE {
	bottom: calc(1.5rem + 2rem + 1rem);
	left: 2rem;
	width: calc(100% - (3rem + 5rem + 1rem + 1rem));
	height: 2.5rem;
}

[data-key=CV].CV_tens_e0 [data-key=CN] {
	height: 2rem;
	bottom: 2rem;
	left: 2rem;
}

[data-key=CV].CV_tens_e0  [data-key=WR]:not(.LS_disabled) [data-key=CN] {
	width: calc(100% - (3rem + 5rem + 1rem + 1rem));
}

/*
 * Layer styles for wide formats (e.g 980x400, e.t.c.).
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_w1 [data-key=LG] {
	right: 2rem;
	top: 1.5rem;
}

[data-key=CV].CV_tens_w1 [data-key*=SQ_]:not(.SQ_layout_logo) [data-key=LG].LG_type_custom {
	width: 7rem;
}

[data-key=CV].CV_tens_w1 [data-key=LG_ST_R],
[data-key=CV].CV_tens_w1 [data-key=LG_ST_L]{
	display: none;
}

[data-key=CV].CV_tens_w1 [data-key*=SQ_] .MS_ARE {
	left: 1.5rem;
	bottom: 6rem;
	width: calc(100% - (5rem + 1.5rem + 1.5rem + 1rem + 35%));
	top: 1.5rem;
	height: calc(100% - (2rem + 42%));
}

[data-key=CV].CV_tens_w1 [data-key*=MS_TXT_]:not([data-key=MS_TXT_0]) {
	margin-top: 0.5rem;
}

[data-key=CV].CV_tens_w1 [data-key=CN] {
	height: 2rem;
	bottom: 1.5rem;
	left: 1.5rem;
}

[data-key=CV].CV_tens_w1  [data-key=WR]:not(.LS_disabled) [data-key=CN] {
	width: calc(100% - (3rem + 5rem + 1rem));
}

[data-key=CV].CV_tens_w1 [data-key=LS] {
	bottom: 1.5rem;
}

[data-key=CV].CV_tens_w1 [data-key*=SQ_] .BT_ARE {
	bottom: calc(1.5rem + 2.5rem);
	left: 1.5rem;
	width: calc(100% - (5rem + 1.5rem + 1.5rem + 1rem + 35%));
	height: calc(100% - (100% - (2rem + 42%) + (2rem + 4rem)));
}

/*
 * Layer styles for very wide formats (e.g 980x150, e.t.c.).
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key=CV].CV_tens_w2 [data-key=LG] {
	right: 2rem;
	top: 1.5rem;
	width: 3em;
	height: 3em;
}

[data-key=CV].CV_tens_w2 [data-key*=SQ_]:not(.SQ_layout_logo) [data-key=LG].LG_type_custom {
	width: 7rem;
	height: 4rem;
}

[data-key=CV].CV_tens_w2 [data-key=LG_ST_R],
[data-key=CV].CV_tens_w2 [data-key=LG_ST_L]{
	display: none;
}

[data-key=CV].CV_tens_w2 [data-key*=SQ_] .MS_ARE {
	left: 2rem;
	bottom: 6rem;
	width: calc(100% - (5rem + 2rem + 2rem + 1rem + 30%));
	top: 1.5rem;
	height: calc(100% - (2rem + 2rem + 1rem));
}

[data-key=CV].CV_tens_w2 [data-key=CN] {
	height: 2rem;
	bottom: 1.5rem;
	left: 2rem;
}

[data-key=CV].CV_tens_w2 [data-key=WR]:not(.LS_disabled) [data-key=CN] {
	width: calc(100% - (5rem + 2rem + 2rem + 1rem + 30%));
}

[data-key=CV].CV_tens_w2 [data-key=LS] {
	bottom: 1.5rem;
	height: 3rem;
}

[data-key=CV].CV_tens_w2 [data-key*=MS_TXT_]:not([data-key=MS_TXT_0]) {
	margin-top: 0.5rem;
}

[data-key=CV].CV_tens_w2  [data-key=BT] {
	display: none;
}


/*
 * Global layer style overrides.
 * ------------------------------------------------------------------------------------------------------------------
 */

/*
[data-key=CV].CV_scale_xs:not(.CV_tens_t2) [data-key=MS] [data-key=MS_TXT_1] {
	display: none;
}
*/
