/*
 * Overlay colors.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key="CV"] [data-key="OL"].OL_type_default [data-key="OL_ELM_1"] {
	background: radial-gradient(rgba(0, 0, 0, 0.5) 10%, rgba(0, 0, 0, 0) 60%);
}

[data-key="CV"] [data-key="OL"].OL_type_default [data-key="OL_ELM_0"] {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 28%);
}

[data-key="CV"].CV_tens_e0 [data-key="OL"].OL_type_default [data-key="OL_ELM_0"] {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 45%);
}

[data-key="CV"].CV_tens_w1 [data-key="OL"].OL_type_default [data-key="OL_ELM_0"],
[data-key="CV"].CV_tens_w2 [data-key="OL"].OL_type_default [data-key="OL_ELM_0"] {
	background: linear-gradient(44deg, rgba(0, 0, 0, 1) 15%, rgba(0, 0, 0, 0) 50%);
}

[data-key="CV"] [data-key="OL"].OL_type_circle [data-key="OL_ELM_0"] {
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 100%);
	left: -20%;
	right: -20%;
	width: auto;
}

[data-key="CV"].CV_tens_t2 [data-key="OL"].OL_type_circle [data-key="OL_ELM_0"] {
	padding-top: 10rem;
}

[data-key="CV"].CV_tens_t1 [data-key="OL"].OL_type_circle [data-key="OL_ELM_0"] {
	padding-top: 5rem;
}

[data-key="CV"].CV_tens_e0 [data-key="OL"].OL_type_circle [data-key="OL_ELM_0"] {
	padding-top: 5rem;
	background: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 1) 100%);
}

[data-key="CV"].CV_tens_w1 [data-key="OL"].OL_type_circle [data-key="OL_ELM_0"],
[data-key="CV"].CV_tens_w2 [data-key="OL"].OL_type_circle [data-key="OL_ELM_0"] {
	padding-left: 30rem;
	right: -30rem;
}

[data-key="CV"] [data-key="OL"].OL_type_top-bot [data-key="OL_ELM_0"] {
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 28%);
}

[data-key="CV"] [data-key="OL"].OL_type_top-bot [data-key="OL_ELM_1"] {
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 40%);
}

/*
 * Logo colors.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key="CV"].CV_theme_white [data-key*="SQ_"] [data-key="LD"],
[data-key="CV"] [data-key*="SQ_"]:not(.SQ_theme_inherit).SQ_layout_logo.SQ_theme_white [data-key="LD"] {
	fill: #000;
}

[data-key="CV"].CV_theme_light-blue [data-key*="SQ_"] [data-key="LD"],
[data-key="CV"] [data-key*="SQ_"]:not(.SQ_theme_inherit).SQ_layout_logo.SQ_theme_light-blue [data-key="LD"] {
	fill: #001e50;
}

[data-key="CV"].CV_theme_black [data-key="LG"],
[data-key="CV"].CV_theme_black [data-key="LD"],
[data-key="CV"] [data-key*="SQ_"]:not(.SQ_theme_inherit).SQ_layout_logo.SQ_theme_black [data-key="LD"],
[data-key="CV"].CV_theme_default [data-key="LG"],
[data-key="CV"].CV_theme_default [data-key="LD"],
[data-key="CV"] [data-key*="SQ_"]:not(.SQ_theme_inherit).SQ_layout_logo.SQ_theme_default [data-key="LD"] {
	fill: #fff;
}

[data-key="CV"].CV_theme_black [data-key*="LG_ST_"],
[data-key="CV"].CV_theme_default [data-key*="LG_ST_"] {
	background: #fff;
}

[data-key="CV"].CV_theme_white [data-key*="LG_ST_"] {
	background: #000;
}

[data-key="CV"].CV_theme_light-blue [data-key*="LG_ST_"] {
	background: #001e50;
}

/*
 * Canvas and sequence background colors.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key="CV"].CV_theme_white,
[data-key="CV"].CV_theme_white [data-key*="SQ_"].active.SQ_layout_logo,
[data-key="CV"] [data-key*="SQ_"]:not(.SQ_theme_inherit).SQ_theme_white.SQ_layout_logo.active {
	background: #ffffff;
}

[data-key="CV"].CV_theme_light-blue,
[data-key="CV"].CV_theme_light-blue [data-key*="SQ_"].active.SQ_layout_logo,
[data-key="CV"] [data-key*="SQ_"]:not(.SQ_theme_inherit).SQ_theme_light-blue.active.SQ_layout_logo {
	background: #ffffff;
}

[data-key="CV"].CV_theme_black,
[data-key="CV"].CV_theme_black [data-key*="SQ_"].active.SQ_layout_logo,
[data-key="CV"] [data-key*="SQ_"]:not(.CV_theme_inherit).SQ_theme_black.active.SQ_layout_logo {
	background: #000;
}

[data-key="CV"].CV_theme_default,
[data-key="CV"].CV_theme_default [data-key*="SQ_"].active.SQ_layout_logo,
[data-key="CV"] [data-key*="SQ_"]:not(.CV_theme_inherit).SQ_theme_default.active.SQ_layout_logo {
	background: #000;
}

/*
 * Text colors.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key="CV"].CV_theme_black p,
[data-key="CV"].CV_theme_default p,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_default p,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_black p {
	color: #fff;
}

[data-key="CV"].CV_theme_white p,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_white p {
	color: #000;
}

[data-key="CV"].CV_theme_light-blue p,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_light-blue p {
	color: #001e50;
}




/*
 * Button colors.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key="CV"].CV_theme_black button,
[data-key="CV"].CV_theme_default button,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_default button,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_black button,
[data-key="CV"] .BT_color_white button {
	background: #fff;
	border-color: transparent;
	color: #001e50;
}

[data-key="CV"].CV_theme_white button,
[data-key="CV"].CV_theme_light-blue button,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_white button,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_light-blue button,
[data-key="CV"] .BT_color_blue button {
	background: #001e50;
	border-color: transparent;
	color: #fff;
}

[data-key="CV"].CV_theme_white button,
[data-key="CV"] [data-key*="SQ_"].SQ_theme_white button,
[data-key="CV"] .BT_color_black button {
	background: #ff6400;
	border-color: transparent;
	color: #ffffff;
}

[data-key="CV"] .BT_color_white button {
	background: #fff;
	border-color: transparent;
	color: #1b1464;
}

/*
 * Asset masking.
 * ------------------------------------------------------------------------------------------------------------------
 */

[data-key="CV"] [class*="_mask_"] [data-key*="_ASSET"] {
	mask-mode: alpha;
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 100% 100%;
}

[data-key="CV"] [class*="_mask_circle"] [data-key*="_ASSET"] {
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMzIwIDMyMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHJhZGlhbEdyYWRpZW50IGlkPSJhIiBjeD0iNDAiIGN5PSIzNSIgcj0iMzcuNTgiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAyMCkgc2NhbGUoNCA0KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMC41Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLW9wYWNpdHk9IjAiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHdpZHRoPSIzMjAiIGhlaWdodD0iMzIwIiBzdHlsZT0iZmlsbDp1cmwoI2EpIi8+PC9zdmc+");
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMzIwIDMyMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHJhZGlhbEdyYWRpZW50IGlkPSJhIiBjeD0iNDAiIGN5PSIzNSIgcj0iMzcuNTgiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAyMCkgc2NhbGUoNCA0KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMC41Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLW9wYWNpdHk9IjAiLz48L3JhZGlhbEdyYWRpZW50PjxyZWN0IHdpZHRoPSIzMjAiIGhlaWdodD0iMzIwIiBzdHlsZT0iZmlsbDp1cmwoI2EpIi8+PC9zdmc+");
}

[data-key="CV"] [class*="_mask_circle_sharp"] [data-key*="_ASSET"] {
	mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMzIwIDMyMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHJhZGlhbEdyYWRpZW50IGlkPSJhIiBjeD0iNDAiIGN5PSIzNSIgcj0iMzcuNTgiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAyMCkgc2NhbGUoNCA0KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMC43NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB3aWR0aD0iMzIwIiBoZWlnaHQ9IjMyMCIgc3R5bGU9ImZpbGw6dXJsKCNhKSIvPjwvc3ZnPg==");
	-webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2aWV3Qm94PSIwIDAgMzIwIDMyMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+PHJhZGlhbEdyYWRpZW50IGlkPSJhIiBjeD0iNDAiIGN5PSIzNSIgcj0iMzcuNTgiIGdyYWRpZW50VHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAyMCkgc2NhbGUoNCA0KSIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiPjxzdG9wIG9mZnNldD0iMC43NSIvPjxzdG9wIG9mZnNldD0iMSIgc3RvcC1vcGFjaXR5PSIwIi8+PC9yYWRpYWxHcmFkaWVudD48cmVjdCB3aWR0aD0iMzIwIiBoZWlnaHQ9IjMyMCIgc3R5bGU9ImZpbGw6dXJsKCNhKSIvPjwvc3ZnPg==");
}

/*
 * Scrollbar styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

::-webkit-scrollbar {
	width: 1rem;
}

::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
	background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
	background: #f7b141;
}

::-webkit-scrollbar-thumb:window-inactive {
	background: #f7b141;
}

/*
 * Debug mode styles.
 * ------------------------------------------------------------------------------------------------------------------
 */

body.mode_debug .debug.active.anchor,
body.mode_debug .debug.active .anchor.active,
[data-key=MS],
[data-key=CA],
[data-key=BT],
[data-key=LG],
[data-key=FG] {
	box-shadow: inset 0 0 0 0.5rem rgba(255, 255, 0, 0.25);
}

body.mode_debug .debug.active.anchor.anchor_fill,
body.mode_debug .debug.active .anchor.anchor_fill.active {
	background: radial-gradient(farthest-side at top left, rgba(255, 255, 0, 0.25), transparent),
		radial-gradient(farthest-corner at bottom right, rgba(255, 255, 0, 0.25), transparent 40rem);
}

body.mode_debug li.active .debug.active.anchor,
body.mode_debug li.active .debug.active .anchor.active,
body.mode_debug .debug.active li.active .anchor.active {
	box-shadow: inset 0 0 0 0.5rem rgba(0, 255, 255, 0.25);
}

body.mode_debug li.active .debug.active.anchor.anchor_fill,
body.mode_debug li.active .debug.active .anchor.anchor_fill.active,
body.mode_debug .debug.active li.active .anchor.anchor_fill.active {
	background: radial-gradient(farthest-side at bottom left, rgba(0, 255, 255, 0.25), transparent),
		radial-gradient(farthest-corner at top right, rgba(0, 255, 255, 0.25), transparent 40rem);
}

body.mode_debug .debug.active span,
body.mode_debug .debug.active img,
body.mode_debug .debug.active video {
	box-shadow: inset 0 0 0 0.5rem rgba(255, 0, 255, 0.5);
}
